<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "WorkApp | " + yield(:title) : "WorkApp" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= render 'layouts/modal' %>
<%= render 'shared/menus' %>
</body>
</html>
